body {
    background-color: #F3EFE9;
    font-family: "Poiret One", sans-serif;
    font-weight: 200;
    font-style: normal;
}

hr {
    background-color: #FEF8DB;
    width: 85%;
}


/* HEADER */

header {
    background: #73503C;
    justify-content: center;
    color: #FEF8DB;
    min-height: 300px;
    margin-bottom: 10px;
}

.top-bar {
    width: 70%;
    margin: 0 auto;
}

.top-logo {
    text-align: center;
    font-family: "Emblema One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    padding: 20px;
}


.top-bar nav {
    margin-left: -4%;
    padding: 35px 0;
}

.top-bar nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 120px;
}


.top-bar nav ul li a {
    position: relative;
    color: #FEF8DB;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    padding: 5px 10px;
}

.top-bar nav ul li a::after {
    content: "";
    left: 0;
    position: absolute;
    bottom: -2px;
    width: 100%;
    border-bottom: 2px solid;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
}

.top-bar nav ul li a:hover::after {
    transform: scaleX(1);
}

.bar-block {
    text-align: center;
    width: 200px;
}

.dropbtn {
    font-family: "Poiret One", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2em;
    background-color: #73503C;
    color: #FEF8DB;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    font-size: 0.8em;
    position: absolute;
    background-color: #73503C;
    border-radius: 3px;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #855d46;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown:hover .dropbtn {
    background-color: #73503C;
}

/* MAIN */

main {
    margin: 0 auto;
    width: 75%;
    margin-bottom: 10px;
    color: #72594c;
    background-color: #E1D8C7;
    border-radius: 5px;
    min-height: 500px;
    padding: 10px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #E0CDBC;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    margin: 30px;

}

.products h1 {
    text-align: center;
    font-size: 1.8em;
    width: 100%;
    margin-bottom: 20px;
}

.product {
    padding: 30px;
    background-color: #FFE9D6;
    min-width: 400px;
    max-width: 400px;
    min-height: 500px;
    margin: 10px;
    border-radius: 5px;
    display: grid;
    justify-content: center;
    transition: 0.5s transform;
    box-sizing: padding-box;
    grid-template-columns: 1fr;
}


.product:hover {
    transform: translateY(-10px);

}


.product img {
    max-width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 0.5s filter;
}

.product img:hover {
    filter: brightness(90%);
}


.product button {
    background-color: #73503C;
    padding: 5px;
    color: #FEF8DB;
    border-radius: 5px;
    font-size: 1.6em;
    border: none;
    transition: 0.5s;
}

.product button:hover {
    opacity: 90%;
}

.product button:focus {
    background-color: brown;
}

.describe {
    font-size: 1.2em;
}



/* FOOTER */

footer {
    background: #73503C;
    color: #FEF8DB;
    padding: 20px;
}


.footer-container {
    display: flex;
    font-size: 1.4em;
}

.bottom-bar {
    flex: 1;
    width: 60%;
}

.bottom-bar nav {
    margin-left: 10%;
    padding: 15px 0;
}

.bottom-bar nav ul {
    display: flex;
    list-style: none;
    gap: 220px;
}


.bottom-bar nav ul li a {
    position: relative;
    color: #FEF8DB;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
}

.bottom-bar nav ul li a::after {
    content: "";
    left: 0;
    position: absolute;
    bottom: -2px;
    width: 100%;
    border-bottom: 2px solid;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
}

.bottom-bar nav ul li a:hover::after {
    transform: scaleX(1);
}

.adress {
    width: 30%;
    flex: -1;
}



.bottom-logo {
    text-align: center;
    font-family: "Emblema One", system-ui;
    font-weight: 400;
    font-style: normal;
    padding: 50px 0 20px 0;
    font-size: 1em;
}