body {
    background: #5A3825;
    transition: background 0.5s;
}

body:hover {
    background: #8C4A29;
}

.table-container,
.video-container,
.container {
    width: 60%;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
    position: relative;
}


.character-name {
    text-align: center;
    font-size: 2em;
    position: relative;
    color: white;
    transition: color 0.5s, ease, text-shadow 0.5s ease;
}

.t {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.table-name {
    font-size: 2em;
    position: relative;
    color: white;
}

.table-name::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    border-bottom: 1px solid;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.table-name:hover::after {
    transform: scaleX(1);
}


.character-name::before,
.character-name::after {
    content: "✨";
    color: gold;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.character-name::before {
    left: 35%;
}

.character-name::after {
    right: 35%;
}

.character-name:hover {
    color: yellow;
    text-shadow: 0px 0px 10px yellow;
}


.character-discribe {
    margin-top: 7%;
    display: flex;
    padding: 10px;
}

.character-img {
    display: block;
    height: 100%;
    margin: 10px 0;
    transition: filter 0.5s;
}

.character-img:hover {
    filter: brightness(50%);
}

.character-text {
    background-color: #D2B48C;
    color: #FFFFFF;
    font-size: 1.4em;
    border-radius: 10px;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    box-shadow: 0px 0px 10px #000;
    flex-grow: 1;
    padding: 10px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
}

.low {
    transition: color 0.5s, ease, text-shadow 0.5s ease;
}

.character-discribe:hover .character-text {
    max-height: 500px;
    opacity: 1;
    padding: 10px;
}


.character-text::first-letter {
    initial-letter: 2;
    padding: 0.2em 0.3em;
}

.low:hover {
    color: yellow;
    text-shadow: 0px 0px 10px yellow;
}

.character-video {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #D2B48C;
    color: #FFFFFF;
    font-size: 1.4em;
    border-radius: 10px;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    box-shadow: 0px 0px 10px #000;
    flex-grow: 1;
    padding: 10px;

}

.more-info {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    border-radius: 5px;
    background: gold;
    padding: 10px 20px;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    transition: filter 0.5s;
    box-shadow: 0px 0px 10px #000;
}

.btn:hover {
    filter: brightness(90%);
}

.btn:active {
    background: red;
}

.btn:focus {
    background: orange;
}

table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background: #333;
    color: #fff;
}

td {
    position: relative;
}


td:last-child::before {
    content: '\2022';
    color: #ff4500;
    font-weight: bold;
    margin-right: 10px;
}

tr:nth-child(even) {
    background: #f9f9f9;
}

tr:hover {
    background: #ffd700;
    transition: 0.3s;
}

tr:first-child {

    border-top: 3px solid #ff4500;
}

tr:last-child {
    border-bottom: 3px solid #ff4500;
}